<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    
    <title>SoundDump</title>
    <link rel="icon" href="https://icon-library.net/images/aux-icon/aux-icon-23.jpg" type="image/x-icon"/>
</head>
<body>
    <header>
        <div class="header">
        <h1>SoundDump</h1>
        </div>
    <nav>
           <a class="navigation" href="/posts/new">Post</a>
           <a class="navigation" href="/posts">Home</a>
           <a class="navigation" href="/posts/songs/search">Search</a>
        
        </nav>
    </header>
    {{{body}}}

</body>
</html>