<h2 id="edit">New Post</h2>
<form action="/posts/new" method="post" accept-charset="utf-8">
  <p>
    <label>Song Title:</label>
    <input type="text" name="title"/>
  </p>
  <p>
    <label>Enter the Spotify Link </label>
    <input type="text" name="link"/>
  </p>
  <p>
    <label>Who is posting this? </label>
    <input type="text" name="poster"/>
  </p>

   <p>
    <label>Caption: </label>
    <input type="text" name="caption"/>
  </p>
  <input id="createBtn" type="submit" value="Create" />
</form>
