<div class="showSong">

    <h2>Song Title: {{post.title}}</h2>
    <h2><iframe src="{{post.link}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></h2>
    <h3>Posted By: {{ post.posted.name}}</h3>
</div>