body {
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Shrikhand', cursive;
    letter-spacing: 2px;
    background-color: #ededed;
    
}

* {
    box-sizing: border-box;
  
    padding: 0;
}

h8 {
    font-family: sans-serif;
    font-size: 10px;
}

.date {
    font-size: 10px;
    font-family: 'Inconsolata', monospace;

}
header {
    /* background-color: #F1E4E8; */
    background-color: #ededed;
}

.user {
    font-family: sans-serif;
}
h1 {
    /* background-color: #F1E4E8; */
    color: #332C2E;
    background-color: #ededed;
    display: flex;
    justify-content: center;
}
nav {
    /* background-color: #F1E4E8; */
    /* color: #332C2E; */
    color: white;
    background-color: #ededed;
    display: flex;
    justify-content: center;
}

.navigation {
    padding: 20px;
    text-decoration: none;
    color: black;
}

.navigation:hover {
    color: rgb(67, 86, 117);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    flex-flow:  wrap;
    width: 100%;
   
    padding: 0.5em 0;
    flex-wrap: wrap;
    justify-content: center;

}

.showSong {
   border: 0.2px solid white;
   background-color: #cccccc;
    border-radius: 4px;
    box-shadow: 4px 2px 8px 2px rgba(0,0,0,0.2)
}
h2, h3 {
    text-align: center;
}
h3 {
    font-style: oblique;
    font-size: 14px;
}
.post {
    margin-bottom: 10px;
    
    border-radius: 10px;
   
}

.newpost {
    text-align: center;
}

#createBtn {
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

input {
    border-radius: 10px;
}

#createBtn:hover {
    background-color: rgb(67, 86, 117);
    color: white;
}
input:focus::placeholder{
    color:transparent;
}

ul {
    list-style-type: none;
    margin: 0 0 3px 0;
  display: table;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  
  border-spacing: 20px;
}
p {
    padding: 10px;
}
li {
    margin: 10px;
    border: 0.4px solid white;
    background-color: #cccccc;
    border-radius: 4px;
    box-shadow: 4px 2px 8px 2px rgba(0,0,0,0.2);
}

li:hover, .showSong:hover{
    background-color:#bcd1e0;
    cursor: pointer;
}

iframe {

    padding: 0 30px 0 30px;
}

h7 {
    text-decoration: none;
    color: black;
    
}


.restCard:hover {
    background-color: white;
}



.postCard {
    text-decoration: none;
    text-align: center;
}

h4 {
    /* color: black; */
    color: #545561;
}
.title {
    margin: 10px;
    text-align: center;
    
}

.title:hover {
    color: rgb(67, 86, 117);
}

.poster {
    margin: 0;
    padding: 10px;
    text-align: center;
    /* font-style: oblique; */
    font-size: 10px;
    font-family: 'Inconsolata', monospace;
}

.songs {
    background-color: #ededed;
    font-size: 10px;
    border: none;
    box-shadow: none;

}
.caption {
    font-family: 'IBM Plex Serif', serif;
    font-size: 12px;
    font-style: oblique;
}


ol {
    font-family: sans-serif;
   text-align: center;
    overflow: auto;
}

